# Lab 10

_[General notebook information](https://computing-in-context.afeld.me/notebooks.html)_

## Objectives

Practice:

- Data cleaning
- [Merging datasets through pandas](https://pandas.pydata.org/docs/user_guide/merging.html#merge)

## Data Cleaning

1. Make messy data.
   1. Open [this shared 311 data](https://docs.google.com/spreadsheets/d/1ZjDYeGqcoXz7AdHQ6N0q4zxMtEXp8JfLvjNFKN6kGtk/edit?gid=1427786321#gid=1427786321).
   1. Make a couple edits to mess it up.
1. Download the data.
   1. Click `File`.
   1. Click `Download`.
   1. Click `Comma Separated Values (.csv)`.

Now this data is chaotic with some of your suggestions. How do we clean such a dataset?

### Guide

- Inspect the Data
- Check missing values
- Fix formatting issues and spaces
- Standardize categoricals
- Handle special characters
- Handle bad [illogical] data

## Merging data

Hint: The instructions here are intentionally incomplete.

In [25]:
import pandas as pd
df = pd.read_csv("/Users/cc/Desktop/Python/Shiyi.github.io/Lab 10/311 requests to make messy - 311 requests Nov 1-6, 2025.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40700 entries, 0 to 40699
Data columns (total 41 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Unique Key                      40700 non-null  int64
 1   Created Date                    40700 non-null  object
 2   Closed Date                     27418 non-null  object
 3   Agency                          40700 non-null  object
 4   Agency Name                     40700 non-null  object
 5   Complaint Type                  40699 non-null  object
 6   Descriptor                      39949 non-null  object
 7   Location Type                   36715 non-null  object
 8   Incident Zip                    40332 non-null  object
 9   Incident Address                39706 non-null  object
 10  Street Name                     39705 non-null  object
 11  Cross Street 1                  28366 non-null  object
 12  Cross Street 2                  28399 non-null  object
 13  Intersection Street 1           26793 non-null  object
 14  Intersection Street 2           26832 non-null  object
 15  Address Type                    40527 non-null  object
 16  City                            38995 non-null  object
 17  Landmark                        24762 non-null  object
 18  Facility Type                   53 non-null     object
 19  Status                          40700 non-null  object
 20  Due Date                        71 non-null     object
 21  Resolution Description          34356 non-null  object
 22  Resolution Action Updated Date  34730 non-null  object
 23  Community Board                 40700 non-null  object
 24  BBL                             37022 non-null  float64
 25  Borough                         40699 non-null  object
 26  X Coordinate (State Plane)      40288 non-null  object
 27  Y Coordinate (State Plane)      40288 non-null  object
 28  Open Data Channel Type          40700 non-null  object
 29  Park Facility Name              40652 non-null  object
 30  Park Borough                    40700 non-null  object
 31  Vehicle Type                    1706 non-null   object
 32  Taxi Company Borough            26 non-null     object
 33  Taxi Pick Up Location           507 non-null    object
 34  Bridge Highway Name             272 non-null    object
 35  Bridge Highway Direction        126 non-null    object
 36  Road Ramp                       94 non-null     object
 37  Bridge Highway Segment          272 non-null    object
 38  Latitude                        40288 non-null  float64
 39  Longitude                       40288 non-null  float64
 40  Location                        40288 non-null  object
dtypes: float64(3), int64(1), object(37)
memory usage: 12.7+ MB

/var/folders/vy/wcmvnd6n6j37fscmt0k5gmr00000gn/T/ipykernel_12879/2371735999.py:2: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("/Users/cc/Desktop/Python/Shiyi.github.io/Lab 10/311 requests to make messy - 311 requests Nov 1-6, 2025.csv")

In [27]:
df.describe()

         Unique Key           BBL      Latitude     Longitude
count  4.070000e+04  3.702200e+04  40288.000000  40288.000000
mean   6.670648e+07  2.697454e+09     40.734093    -73.924963
std    1.262678e+04  1.166628e+09      0.083821      0.074002
min    6.667357e+07  1.000030e+09     40.500925    -74.250974
25%    6.669583e+07  2.025363e+09     40.673330    -73.968759
50%    6.670638e+07  3.017955e+09     40.729329    -73.929105
75%    6.671736e+07  4.005230e+09     40.806334    -73.883598
max    6.672824e+07  5.240010e+09     40.912869    -73.700928

In [28]:
df["Borough"].unique()

array(['QUEENS', 'BK', 'MANHATTAN', nan, 'BROOKLYN', 'STATEN ISLAND',
       'BRONX', 'BROOKLYN ', 'BRONX ', 'QUEENS ', 'Unspecified'],
      dtype=object)

In [29]:
df[df["Borough"]=="BROOKLYN"]

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Vehicle Type,Taxi Company Borough,Taxi Pick Up Location,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Latitude,Longitude,Location
11,66721686,11/05/2025 02:01:47 AM,NaN,NYPD,New York City Police Department,Noise - Commercial,Banging/Pounding,Store/Commercial,11211,296 SOUTH THIRD STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.709877,-73.955324,"(40.70987708176223, -73.95532386450223)"
12,66725463,11/05/2025 02:01:21 AM,NaN,NYPD,New York City Police Department,Illegal Parking,Blocked Hydrant,Street/Sidewalk,11223,1790 WEST 10 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.603502,-73.982700,"(40.603502250219165, -73.98269964556513)"
13,66721707,11/05/2025 02:00:41 AM,NaN,NYPD,New York City Police Department,Noise - Residential,Loud Television,Residential Building/House,11207,774 BLAKE AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.668554,-73.889918,"(40.66855448747182, -73.88991806230908)"
26,66720441,11/05/2025 01:51:37 AM,NaN,NYPD,New York City Police Department,Noise - Residential,Banging/Pounding,Residential Building/House,11226,143 LINDEN BOULEVARD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.652445,-73.953668,"(40.65244479540239, -73.9536684997202)"
27,66721577,11/05/2025 01:51:19 AM,NaN,NYPD,New York City Police Department,Blocked Driveway,No Access,Street/Sidewalk,11236,1481 EAST 85 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.628530,-73.899207,"(40.628530309855016, -73.8992067161575)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40684,66675559,11/01/2025 12:01:14 AM,11/01/2025 12:43:53 AM,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,11206.0,15 TROUTMAN STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.697534,-73.933593,"(40.6975343642271, -73.93359324228432)"
40685,66694224,11/01/2025 12:01:14 AM,11/03/2025 05:30:02 PM,HPD,Department of Housing Preservation and Develop...,WATER LEAK,SLOW LEAK,RESIDENTIAL BUILDING,11226.0,2215 NEWKIRK AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.638763,-73.956625,"(40.63876319738314, -73.95662536998938)"
40691,66677190,11/01/2025 12:00:52 AM,11/01/2025 01:37:17 AM,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,11249.0,143 NORTH 9 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.719298,-73.957092,"(40.71929777578776, -73.95709243793323)"
40692,66676322,11/01/2025 12:00:35 AM,11/01/2025 02:47:33 AM,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,11206.0,150 NOLL STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.702915,-73.931128,"(40.70291540380152, -73.93112817350325)"
40696,66678422,11/01/2025 12:00:06 AM,11/01/2025 01:00:32 AM,NYPD,New York City Police Department,Illegal Parking,Blocked Hydrant,Street/Sidewalk,11228.0,639 90 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.616964,-74.023751,"(40.61696431598788, -74.02375136230968)"

In [30]:
df["Borougn"] = df["Borough"].str.strip()
df["Borough"].unique()

array(['QUEENS', 'BK', 'MANHATTAN', nan, 'BROOKLYN', 'STATEN ISLAND',
       'BRONX', 'BROOKLYN ', 'BRONX ', 'QUEENS ', 'Unspecified'],
      dtype=object)

### Step 0

Find an NYC dataset with a borough column.

- Use [Scout](https://scout.tsdataclinic.com/explore/NYC) to filter by column name.
- Don't spend too long on this step.
- [Keep the dataset small](https://python-public-policy.afeld.me/en/columbia/assignments/open_ended.html#reducing-data-size) (under 500,000-ish rows) to make it easier to work with.

**What's the URL of your dataset?**

https://scoutopendata.com/explore/NYC/dataset/42et-jh9v/joins

### Step 1

Save and load the dataset.

In [ ]:
import pandas as pd

#Load the dataset
df_sus = pd.read_csv("")

array(['QUEENS', 'BK', 'MANHATTAN', nan, 'BROOKLYN', 'STATEN ISLAND',
       'BRONX', 'BROOKLYN ', 'BRONX ', 'QUEENS ', 'Unspecified'],
      dtype=object)

In [20]:
df[df["Borough"].str.contains(".+\s.+") == True] ["Borough"]

<>:1: SyntaxWarning: invalid escape sequence '\s'
<>:1: SyntaxWarning: invalid escape sequence '\s'
/var/folders/vy/wcmvnd6n6j37fscmt0k5gmr00000gn/T/ipykernel_12879/2880620607.py:1: SyntaxWarning: invalid escape sequence '\s'
  df[df["Borough"].str.contains(".+\s.+") == True] ["Borough"]

16       STATEN ISLAND
53       STATEN ISLAND
124      STATEN ISLAND
266      STATEN ISLAND
351      STATEN ISLAND
             ...
40395    STATEN ISLAND
40445    STATEN ISLAND
40524    STATEN ISLAND
40670    STATEN ISLAND
40698    STATEN ISLAND
Name: Borough, Length: 1392, dtype: object

In [16]:
df=df.replace("Qu eens", "QUEENS")
df["Borough"].unique()

array(['QUEENS', 'BK', 'MANHATTAN', nan, 'BROOKLYN', 'STATEN ISLAND',
       'BRONX', 'BROOKLYN ', 'BRONX ', 'QUEENS ', 'Unspecified'],
      dtype=object)

In [18]:
df = df.replace("BK","BROOKLYN")
df = df.replace("Unspecified","nan")
df["Borough"].unique()

array(['QUEENS', 'BROOKLYN', 'MANHATTAN', nan, 'STATEN ISLAND', 'BRONX',
       'BROOKLYN ', 'BRONX ', 'QUEENS ', 'nan'], dtype=object)

In [19]:
#df.dropna()
df = df[df["Borough"].notna()]
df["Borough"].unique()

array(['QUEENS', 'BROOKLYN', 'MANHATTAN', 'STATEN ISLAND', 'BRONX',
       'BROOKLYN ', 'BRONX ', 'QUEENS ', 'nan'], dtype=object)

In [22]:
df = df[df["Borough"]!="nan"]
df ["Borough"].unique()

array(['QUEENS', 'BROOKLYN', 'MANHATTAN', 'STATEN ISLAND', 'BRONX',
       'BROOKLYN ', 'BRONX ', 'QUEENS '], dtype=object)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 40672 entries, 0 to 40699
Data columns (total 42 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Unique Key                      40672 non-null  int64
 1   Created Date                    40672 non-null  object
 2   Closed Date                     27408 non-null  object
 3   Agency                          40672 non-null  object
 4   Agency Name                     40672 non-null  object
 5   Complaint Type                  40671 non-null  object
 6   Descriptor                      39921 non-null  object
 7   Location Type                   36698 non-null  object
 8   Incident Zip                    40330 non-null  object
 9   Incident Address                39699 non-null  object
 10  Street Name                     39698 non-null  object
 11  Cross Street 1                  28360 non-null  object
 12  Cross Street 2                  28393 non-null  object
 13  Intersection Street 1           26785 non-null  object
 14  Intersection Street 2           26824 non-null  object
 15  Address Type                    40514 non-null  object
 16  City                            38993 non-null  object
 17  Landmark                        24760 non-null  object
 18  Facility Type                   51 non-null     object
 19  Status                          40672 non-null  object
 20  Due Date                        71 non-null     object
 21  Resolution Description          34346 non-null  object
 22  Resolution Action Updated Date  34719 non-null  object
 23  Community Board                 40672 non-null  object
 24  BBL                             37021 non-null  float64
 25  Borough                         40672 non-null  object
 26  X Coordinate (State Plane)      40286 non-null  object
 27  Y Coordinate (State Plane)      40286 non-null  object
 28  Open Data Channel Type          40672 non-null  object
 29  Park Facility Name              40624 non-null  object
 30  Park Borough                    40672 non-null  object
 31  Vehicle Type                    1703 non-null   object
 32  Taxi Company Borough            25 non-null     object
 33  Taxi Pick Up Location           507 non-null    object
 34  Bridge Highway Name             272 non-null    object
 35  Bridge Highway Direction        126 non-null    object
 36  Road Ramp                       94 non-null     object
 37  Bridge Highway Segment          272 non-null    object
 38  Latitude                        40286 non-null  float64
 39  Longitude                       40286 non-null  float64
 40  Location                        40286 non-null  object
 41  Borougn                         40672 non-null  object
dtypes: float64(3), int64(1), object(38)
memory usage: 13.3+ MB

### Step 2

Download and load the [Population by Borough](https://data.cityofnewyork.us/City-Government/New-York-City-Population-by-Borough-1950-2040/xywu-7bv9) dataset.

In [ ]:
# your code here

### Step 3

Use [`merge()`](https://pandas.pydata.org/docs/user_guide/merging.html#merge) to combine the two, and output the resulting table.

In [3]:
# your code here

### Step 4

Using the two datasets above, use pandas to produce an aggregate per-capita statistic by borough.

The dataset you chose before may not work for this. That's fine, pick another.

#### Hint

You're creating a "number of [thing] per capita by borough" table.

1. Do a [`groupby()`](https://pandas.pydata.org/docs/user_guide/groupby.html) on the original dataset.
1. Join with the populations by borough.
1. Compute the per-capita values as a new column.

In [4]:
# your code here

### Step 5

[Submit.](https://computing-in-context.afeld.me/notebooks.html#submission)